# 1.Python Basics

In [159]:
# Single line comment
print("Hello Sam")

#Multiline comment
'''
My name is Sambridhi
I am a student
I live in kathmandu
'''

print("hi")

Hello Sam
hi

In [160]:
# Variables and datatypes
# Integer
age = 19

# Float
price = 99.99

# String
name = "Sambridhi"

# Boolean
is_student = True

print(age, price,name,is_student)

19 99.99 Sambridhi True

In [161]:
# Integer 
age = 19
print("I am", age,"years old")

I am 19 years old

In [162]:
# String
name = "Sambridhi"
print("Hello! My name is", name)

Hello! My name is Sambridhi

In [163]:
# Float
temperature = 98
print("Normal human body temperature is", temperature,"°C.")

Normal human body temperature is 98 °C.

In [164]:
# Boolean Example
is_Student = True
print("Sambridhi is Student:", is_Student)

Sambridhi is Student: True

In [166]:
# Basic input/output
# Integer input

fav_number = int(input("Enter your favorite number: "))
print("My favorite number is ", fav_number)

Enter your favorite number:  8

My favorite number is  8

In [167]:
# String input
name = input("What's your name? ")
print("My name is",name )

What's your name?  sam

My name is sam

In [169]:
# Float input
height = float(input("Enter your height in meters: "))
print("Your height is", height, "meters.")

Enter your height in meters:  7

Your height is 7.0 meters.

In [170]:
#Boolean input
age = int(input("Enter your age: "))
adult = age >= 18
print("Are you an adult? :", adult)

Enter your age:  18

Are you an adult? : True

In [171]:
# Type casting and conversion
# Implicit Type Casting

a = 7     # int
b = 8.5   # float

result = a + b  

print(result)      
print(type(result))  # Output: <class 'float'>

15.5
<class 'float'>

In [172]:
# Explicit Type 
# Coverting float to int

x = 5.9
y = int(x)  # Removes the decimal part

print(y)         
print(type(y))

5
<class 'int'>

In [173]:
# Converting String to integer
s = "100"
num = int(s)

print(num + 20) 
print(type(num))

120
<class 'int'>

In [174]:
# Converting number to string
age = 18
text = "Your age is " + str(age)
print(text)       
print(type(text))

Your age is 18
<class 'str'>

In [175]:
# Operators
# Arithmetic Operators 

a = 10
b = 5

print("a =", a)
print("b =", b)

# Addition
print("a + b =", a + b)           

# Subtraction
print("a - b =", a - b)           

# Multiplication
print("a * b =", a * b)           

# Division (float)
print("a / b =", a / b)           

# Floor Division
print("a // b =", a // b)        

# Modulus (remainder)
print("a % b =", a % b)           

# Exponent (Power)
print("a ** b =", a ** b)

a = 10
b = 5
a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a // b = 2
a % b = 0
a ** b = 100000

In [176]:
# Comparison Operators

a = 10
b = 3

print("a = ", a)
print("b = ", b)

print("a == b :", a == b)     # False
print("a != b :", a != b)     # True
print("a > b  :", a > b)      # True
print("a < b  :", a < b)      # False
print("a >= b :", a >= b)     # True
print("a <= b :", a <= b)     # False

a =  10
b =  3
a == b : False
a != b : True
a > b  : True
a < b  : False
a >= b : True
a <= b : False

In [177]:
# Comparison Operators 

a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))

print("\n--- Comparison Results ---\n")
print("a == b :", a == b)
print("a != b :", a != b)
print("a > b  :", a > b)
print("a < b  :", a < b)
print("a >= b :", a >= b)
print("a <= b :", a <= b)

Enter value for a:  5
Enter value for b:  6

--- Comparison Results ---

a == b : False
a != b : True
a > b  : False
a < b  : True
a >= b : False
a <= b : True

In [179]:
# Logical Operators 

a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))

print("\n--- Logical Results ---\n")
print("a > 5 and b < 5  :", a > 5 and b < 5)
print("a < 5 or b > 5   :", a < 5 or b > 5)
print("not(a == b)      :", not(a == b))

Enter value for a:  6
Enter value for b:  7

--- Logical Results ---

a > 5 and b < 5  : False
a < 5 or b > 5   : True
not(a == b)      : True

# 2. Control Flow

In [180]:
# if-elif-else 

marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Enter your marks:  67

Grade: C

In [181]:
# Nested condition 
age = int(input("Enter your age: "))

if age >= 18:
    citizen = input("Are you a citizen? (yes/no): ")
    if citizen.lower() == "yes":
        print("You are eligible to vote.")
    else:
        print("You must be a citizen to vote.")
else:
    print("You are too young to vote.")

Enter your age:  18
Are you a citizen? (yes/no):  yes

You are eligible to vote.

In [182]:
a = int(input("Enter value for a: "))
b = int(input("Enter value for b: "))
c = int(input("Enter value for c: "))

printed = False

# Condition 1
if a > b and b > c:
    print("Condition 1: a is greater than b AND b is greater than c")
    printed = True  

# Condition 2
if a == 10 or c == 1:
    print("Condition 2: a equals 10 OR c equals 1")
    printed = True

# Condition 3
if not (b > a):
    print("Condition 3: b is NOT greater than a")
    printed = True

# Condition 4
if (a > b and b > c) or not (c > 0):
    print("Condition 4: (a > b AND b > c) OR NOT (c > 0)")
    printed = True

# If none of the above conditions are true
if not printed:
    print("No conditions matched.")

Enter value for a:  6
Enter value for b:  7
Enter value for c:  8

No conditions matched.

# 3.Loops

In [183]:
# For loop 
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [184]:
# While loop 
count = 0

while count < 5:
    print("Count:", count)
    count += 1  # Increment by 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [185]:
# break, continue and pass

for i in range(5):
    if i == 3:
        break          # Exit the loop when i is 3
    print("Break example:", i)

for i in range(5):
    if i == 3:
        continue       # Skips printing when i is 3
    print("Continue example:", i)

for i in range(3):
    pass              # Does nothing, placeholder
print("Pass example finished")

Break example: 0
Break example: 1
Break example: 2
Continue example: 0
Continue example: 1
Continue example: 2
Continue example: 4
Pass example finished

In [186]:
# Looping with range()
for i in range(5):
    print(i)

0
1
2
3
4

In [187]:
# Looping with enumerate()

fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [188]:
# Looping with zip()

names = ["Aaditi", "Rose", "Natasha"]
ages = [21, 20, 19]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

Aaditi is 21 years old.
Rose is 20 years old.
Natasha is 19 years old.

# 4.Data Structure

In [189]:
# Lists
fruits = ["apple", "banana", "mango"]
print("Original list:", fruits)

# Indexing
print("First fruit:", fruits[0])

# Slicing
print("First two fruits:", fruits[:2])

# Updating
fruits[1] = "orange"
print("Updated list:", fruits)

# Adding
fruits.append("grapes")
print("After appending:", fruits)

# Removing
fruits.remove("apple")
print("After removing apple:", fruits)

Original list: ['apple', 'banana', 'mango']
First fruit: apple
First two fruits: ['apple', 'banana']
Updated list: ['apple', 'orange', 'mango']
After appending: ['apple', 'orange', 'mango', 'grapes']
After removing apple: ['orange', 'mango', 'grapes']

In [190]:
# Tuples
dimensions = (10, 20, 30)

# Indexing
print(dimensions[1])  

# Slicing
print(dimensions[:2]) 

# Tuples are immutable

20
(10, 20)

In [191]:
# Dictionary
person = {
    "name": "Nikil",
    "age": 20,
    "city": "Bhaktapur"
}

# Accessing
print(person["name"])  

# Updating
person["age"] = 25

# Adding
person["email"] = "nikil7@example.com"

# Deleting
del person["city"]

print(person)

Nikil
{'name': 'Nikil', 'age': 25, 'email': 'nikil7@example.com'}

In [192]:
# Sets
numbers = {1, 2, 3, 2, 4}
print(numbers)  

# Adding
numbers.add(5)

# Removing
numbers.remove(3)

print(numbers)

{1, 2, 3, 4}
{1, 2, 4, 5}

In [193]:
#Comprehensions (list, dict, set)
# List Comprehension
nums = input("Enter a number: ").split()
num_list = [int(n) for n in nums]
squares = [x**2 for x in num_list]
print("Squares:", squares)

Enter a number:  5

Squares: [25]

In [194]:
# Set Comprehension

words = input("Enter words for set comprehension: ").split()
first_letters = {word[0] for word in words}
print("First letter :", first_letters)

Enter words for set comprehension:  man

First letter : {'m'}

In [195]:
# Dictionary Comprehension
numbers = input("Enter numbers with spacing: ").split()
numbers = [int(num) for num in numbers]

squares_dict = {num: num ** 2 for num in numbers}
print("Number-Square dictionary:", squares_dict)

Enter numbers with spacing:  2 3 4

Number-Square dictionary: {2: 4, 3: 9, 4: 16}

# 5.Functions

In [196]:
# defining a funtion

def greeting():
    print("Hello! Welcome to Shrestha Niwas.")

greeting() # calling a funtion

Hello! Welcome to Shrestha Niwas.

In [197]:
# Arguments and return values

def add(a, b):
    return a + b

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Sum:", add(x, y))

Enter first number:  4
Enter second number:  5

Sum: 9

In [198]:
# Default and Keyword arguments

def guest(name="Guest"):
    print(f"Hello, {name}!")

guest()                # Uses default
guest("Sanas")         # Positional argument
guest(name="Shrestha") # Keyword argument

Hello, Guest!
Hello, Sanas!
Hello, Shrestha!

In [199]:
# *args and *kwargs
def show_args(*args):
    print("Positional arguments:", args)

def show_kwargs(**kwargs):
    print("Keyword arguments:", kwargs)

show_args(1, 2, 3)
show_kwargs(name="Sanas", age=21)

Positional arguments: (1, 2, 3)
Keyword arguments: {'name': 'Sanas', 'age': 21}

In [200]:
# Lambda with map()

numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x ** 2, numbers))
print("Squares:", squares)

Squares: [1, 4, 9, 16]

In [201]:
# Lambda with filter()

numbers = [5, 6, 7, 8, 9]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", evens)

Even numbers: [6, 8]

In [202]:
# lambda with Sorting

students = [("Sita", 20), ("Gita", 18), ("Rita", 22)]
sorted_students = sorted(students, key=lambda x: x[1])
print("Sorted by age:", sorted_students)

Sorted by age: [('Gita', 18), ('Sita', 20), ('Rita', 22)]

In [203]:
# Lambda for short functions
add = lambda a, b: a + b
print("Sum:", add(5, 3))

Sum: 8

In [204]:
# Scope and global keywords
counter = 0  

def increment():
    counter = 1  # This creates a local variable, doesn't change the global one
    print("Inside function (local counter):", counter)

increment()
print("Outside function (global counter):", counter)

Inside function (local counter): 1
Outside function (global counter): 0

In [205]:
counter = 0  

def increment():
    global counter  # Declares that we want to use the global variable
    counter += 1
    print("Inside function (global counter):", counter)

increment()
print("Outside function (global counter):", counter)

Inside function (global counter): 1
Outside function (global counter): 1

# 6.Basic String and File Operations

In [206]:
#  String methods and formatting

text = "Hello, Sambridhi!"

print(text.strip())      # Removes leading/trailing whitespace
print(text.lower())      # Converts to lowercase
print(text.upper())      # Converts to uppercase
print(text.replace("Python", "World"))  # Replace substring
print(text.split(","))   # Split string by comma

Hello, Sambridhi!
hello, sambridhi!
HELLO, SAMBRIDHI!
Hello, Sambridhi!
['Hello', ' Sambridhi!']

In [207]:
# .format()
name = "Sana"
age = 22
print("My name is {} and I am {} years old.".format(name, age))

My name is Sana and I am 22 years old.

In [208]:
# f-string()
name = "Sana"
age = 22
print(f"My name is {name} and I am {age} years old.")

My name is Sana and I am 22 years old.

In [132]:
# Reading/writing files (open(), with statement, read/write modes)

In [209]:
# Writing to file
with open("Sambridhi.txt", "w") as file:
    file.write("Hello Sambridhi!\n")
    file.write("This file was written using Python.")

In [210]:
# Reading to file
with open("Sambridhi.txt", "r") as file:
    content = file.read()
    print(content)

Hello Sambridhi!
This file was written using Python.

In [211]:
# Appending to file
with open("sambridhi.txt", "a") as file:
    file.write("\nThis line was appended.\n")

In [212]:
with open("sambridhi.txt", "r+") as file:
    print("Before:", file.read())

Before: Hello Sambridhi!
This file was written using Python.
This line was appended.

In [213]:
def eligible(n):
    if n > 18:
        return "Eligible"
    else:
        return "Not eligible"